// Typography
$font-primary: 'Raleway', serif; // or Montserrat
$font-secondary: 'Merriweather', serif;
$font-alternate: 'Vidaloka', serif;

// Animation
$animation-delay: default;
$animation-type: default;

// Core
$logo-size: 2.25rem;
