.navbar {

  .navbar-brand {
    font-family: $font-alternate;
    font-size: $logo-size + 1rem;
    letter-spacing: .025rem;
  }

  .navbar-nav {
    font-size: 1.085rem;
    letter-spacing: .025rem;
  }
}

.shrink {

  .navbar-brand {
    font-size: $logo-size;
  }
}

.navbar,
.shrink {
  // transition
}
