.navbar {

  .navbar-brand {
    font-family: $font-alternate;
    font-size: 2.25rem;
    letter-spacing: .025rem;
  }

  .navbar-nav {
    font-size: 1.085rem;
    letter-spacing: .025rem;
  }
}
