.portfolio {
  // Pictures must be at least 700px wide
  .grid {
    column-count: 3;
    column-width: 22rem;
    column-gap: 1rem;

    .grid-item {
      display: inline-block;
      // cursor: pointer;
    }
  }
}
